awsebcli==3.18.1
bcrypt==3.1.7
beautifulsoup4==4.8.1
blessed==1.16.1
botocore==1.15.49
cached-property==1.5.1
cement==2.8.2
certifi==2019.9.11
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
cryptography==2.9.2
Django==2.2.7
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==1.0.1
django-braces==1.13.0
django-countries==5.5
django-crispy-forms==1.8.0
django-filter==2.2.0
django-jquery==3.1.0
django-leaflet==0.25.0
django-tables2==2.1.1
django-user-sessions==1.6.0
django-storages==1.1.8
docker==4.2.1
docker-compose==1.25.5
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
easy-thumbnails==2.7
et-xmlfile==1.0.1
future==0.16.0
idna==2.7
jdcal==1.4.1
jmespath==0.9.4
jsonschema==2.6.0
openpyxl==2.6.4
paramiko==2.7.1
pathspec==0.5.9
Pillow==6.2.1
psycopg2-binary
pycparser==2.20
PyNaCl==1.4.0
python-dateutil==2.8.0
python-magic==0.4.18
pytz==2019.3
PyYAML==5.3.1
requests==2.20.1
semantic-version==2.5.0
six==1.11.0
soupsieve==1.9.5
sqlparse==0.3.0
termcolor==1.1.0
texttable==0.9.1
urllib3==1.24.3
wcwidth==0.1.7
websocket-client==0.56.0
xlrd==1.2.0
